*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

.slide-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 77px;
}
